<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pousadaria</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main id="app">
    <h1>Pousadaria - BnB Guru</h1>

    <input class="input" type="text" v-model="searchText" placeholder="Procure uma pousada">
    
      <div class="msg" v-if="listResult.length <= 0">
        Nenhuma pousada encontrada.
      </div>

    <div id="list-lodges" :hidden='hideLodgesList'>
      <ul class="card-list">
        <li v-for="lodge in listResult" class="card-item">
          <div class="card">
            <address>
              <strong> <a href="#" v-on:click="getLodgeDetails(lodge.id)"> {{ lodge.name }} </a></strong>
            </address>
          </div>
        </li>
      </ul>
    </div>

    <div id="lodge-details" :hidden="hideLodgeDetails">
      <h2>{{ corporateName }}</h2>
      <h3>Nome da Pousada: {{ lodgeName }}</h3>
      <p>Descrição: {{ description }}</p>
      <p>Telefone para contato: {{ phoneNumber }}</p>
      <p>Permite animais de estimação: {{  pets ? 'Aceita' : 'Não aceita' }}</p>
      <p>Políticas da pousada: {{ policies }}</p>
      <p>Endereço: {{ address }}</p>
      <p>Bairro: {{ neighborhood }} </p>
      <p>Cidade: {{ city }} </p>
      <p>Estado: {{ state }} </p>
      <p>CEP: {{ zipCode }} </p>
      <h4><a href="#" v-on:click = "getRooms(currentLodgeId)">Quartos da Pousada</a></h4>
    </div>

    <div id="list-rooms">
      <ul>
        <li v-for=" room in listRooms">
          <h4>Nome do Quarto: {{ room.name }}</h4>
          <p>Descrição: {{ room.description }}</p>
          <p>Área: {{ room.area }}m²</p>
          <p>Ar Condicionado: {{ room.ac ? 'Sim' : 'Não' }}</p>
          <p>Varanda: {{ room.balcony ? 'Sim' : 'Não' }}</p>
          <p>TV: {{ room.tv ? 'Sim' : 'Não' }}</p>
          <p>Acesso para PcD: {{ room.disabledFacilities ? 'Sim' : 'Não' }} </p>
          <p>Guarda-roupas: {{ room.closet ? 'Sim' : 'Não' }} </p>
          <p>Banheiro: {{ room.bathroom ? 'Sim' : 'Não' }} </p>
          <p>Cofre: {{ room.safe ? 'Sim' : 'Não' }} </p>
          <p>Máximo de Hóspedes: {{ room.maxGuests }} </p>
          <p>Diária Padrão: {{ room.standardOvernight }} </p>
          <p>Disponível: {{ room.vacant ? 'Sim' : 'Não' }} </p>

            <div id="booking-form">
              <br><label for="checkin-date">Data de check_in: </label>
              <input type="date" v-model="bookingDetails[room.id].checkinDate" id="checkin-date" name="checkin-date">
              <br><label for="checkout-date">Data de check_out: </label>
              <input type="date" v-model="bookingDetails[room.id].checkoutDate" id="checkout-date" name="checkout-date">
              <br><label for="number_guests">Número de hóspedes: </label>
              <input type="number" v-model="bookingDetails[room.id].numberGuests" id="number_guests" name="number_guests">
              <br><button class="button" v-on:click="checkRoomAvailability(room.id, bookingDetails[room.id])">Consultar disponibilidade</button>
            </div>

            <section id="booking-details" :hidden="hideBookingDetails">
              <div v-if="bookingPrice">
                <p class="available">Quarto disponível!</p>
                <p>Valor total: R$ {{ bookingPrice }}</p>
              </div>
              <div v-else>
                <p class="msg">{{ errors }}</p>    
              </div>
            </section>  
        </li>
      </ul>        
    </div>
  </main>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>