<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pousadaria</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main id="app">
    <h1>Pousadaria - BnB Guru</h1>

    <input class="input" type="text" v-model="searchText" placeholder="Digite um nome" >
    
      <div class="msg" v-if="listResult.length <= 0">
        Nenhuma pousada encontrada.
      </div>

      <div id="list-lodges" :hidden="hideLodgesList">
        <ul class="card-list">
          <li v-for="lodge in listResult" class="card-item">
            <div class="card">
              <address>
                <strong>
                  <a href="#" v-on:click="getLodgeDetails(lodge.id)">{{ lodge.name }}</a>
                </strong>
              </address>
            </div>
          </li>
        </ul>
      </div>

    <div id="lodge-details" :hidden="hideLodgeDetails">
      <h2>{{ corporateName }}</h2>
      <h3>Nome da Pousada: {{ lodgeName }}</h3>
      <p><strong>Descrição:</strong> {{ description }}</p>
      <p><strong>Telefone:</strong> {{ phoneNumber }}</p>
      <p><strong>Permite Animais de Estimação:</strong> {{  pets ? 'Sim' : 'Não' }}</p>
      <p><strong>Políticas:</strong> {{ policies }}</p>
      <p><strong>Endereço:</strong> {{ address }}</p>
      <p><strong>Bairro:</strong> {{ neighborhood }} </p>
      <p><strong>Cidade:</strong> {{ city }} </p>
      <p><strong>Estado:</strong> {{ state }} </p>
      <p><strong>CEP:</strong> {{ zipCode }} </p>

      <h4><a href="#" v-on:click = "getRooms(currentLodgeId)">Quartos da Pousada</a></h4>
    </div>

    <div id="list-rooms">
      <ul>
        <li v-for=" room in listRooms">
          <h4>Nome do Quarto: {{ room.name }}</h4>
          <p><strong>Descrição:</strong> {{ room.description }}</p>
          <p><strong>Área:</strong> {{ room.area }}m²</p>
          <p><strong>Ar Condicionado:</strong> {{ room.ac ? 'Sim' : 'Não' }}</p>
          <p><strong>Varanda:</strong> {{ room.balcony ? 'Sim' : 'Não' }}</p>
          <p><strong>TV:</strong> {{ room.tv ? 'Sim' : 'Não' }}</p>
          <p><strong>Acesso para PcD:</strong> {{ room.disabledFacilities ? 'Sim' : 'Não' }} </p>
          <p><strong>Guarda-roupas:</strong> {{ room.closet ? 'Sim' : 'Não' }} </p>
          <p><strong>Banheiro:</strong> {{ room.bathroom ? 'Sim' : 'Não' }} </p>
          <p><strong>Cofre:</strong> {{ room.safe ? 'Sim' : 'Não' }} </p>
          <p><strong>Máximo de Hóspedes:</strong> {{ room.maxGuests }} </p>
          <p><strong>Diária Padrão:</strong> {{ room.standardOvernight }} </p>
          <p><strong>Disponível:</strong> {{ room.vacant ? 'Sim' : 'Não' }} </p>
        </li>
      </ul>

    </div>

  </main>
  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>